<h2>Hello. I'm Vivek Nair</h2>
<p><img src="https://raw.githubusercontent.com/vivekaxl/vivekaxl.github.io/master/favicon.ico" height="80px" width="80px" alt="Vivek Nair" title="Follow me on Twitter @vivekaxl"  class="img-rounded floatLeft" />			
I am a third year Ph.D student working with Dr. Tim Mnezies.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vivekaxl&repo=vivekaxl.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vivekaxl&repo=vivekaxl.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/vivekaxl" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @vivekaxl</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/vivekaxl" rel="me" class="social github" title="Go to github.com/vivekaxl" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/vivekaxl" rel="me" class="social twitter" title="Go to twitter.com/vivekaxl" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/+VivekNair-vivekaxl/about" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/vivekaxl/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Eric"  target="_blank"></a></li>				
	</ul>
</p>
