<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://vivekaxl.github.io">Vivek Nair</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://vivekaxl.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/vivekaxl" rel="tooltip" title="Go to twitter.com/vivekaxl" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/vivekaxl" rel="tooltip" title="Go to github.com/vivekaxl" target="_blank">GitHub</a></li>
					<li class=""><a href="https://www.linkedin.com/pub/vivek-nair/24/7a/5b5" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>	
					<li class=""><a href="https://www.facebook.com/vivekaxl" rel="tooltip" title="Go to Facebook profile" target="_blank">Facebook</a></li>	
					<li class=""><a href="https://www.quora.com/Vivek-Nair-18" rel="tooltip" title="Go to Quora profile" target="_blank">Quora</a></li>	
				</ul>
			 </li>
			<li class="">
				<a href="https://drive.google.com/file/d/0B1MLlqbf5WswVUJQemhBeVRQdFVDLVNkd3FYNkdFS2FfRG93/view?usp=sharing"><i class="icon-align-justify"></i> Resume</a>
		  	</li>
		</ul>		
	  </div>
	</div>
  </div>
</div>
